#nav-bar1{
    gap: 10%;
    display: flex;
    justify-content: center;
}

#nav-bar1 a{
    color: green
    
}

#nav-bar1 p{
    display: inline-block;
       
}  

#content1{
    margin-left: 350px;
   
}

#paragraphs{
    display: inline-block;

}

#icons{
  display: inline-block;
  margin-left: 10px;

}

#icons2{
    margin-left: 900px;

}
    
#nav-bar2 {
    text-decoration: none;
    color: green;
    display: flex;
    justify-content: center;
    gap: 5%;

}

#content2{
    display: flex;
    margin-left: 350px;
}

#image2{
    margin-left: 250px;
    
}

#size{
   display: flex; 
   justify-content: space-between;
   
}

#content3{
    display: flex;
    margin-left: 350px;
    justify-content: space-between;
}

#nav-bar3{
    text-decoration: none;
    color: green;
    margin: auto;
    display: flex;
    justify-content: space-between;
   
}

#IMAGES{
    display: flex;
      
}

#IMAGES2{
    display: flex;
}

#content4{
    display: flex;
    margin-left: 350px;
    justify-content: space-between;

}

#image4{
    margin-right: 450px;
}


#content5{
    display: flex;
    margin-left: 350px;
    justify-content: space-between;

}

#nav-bar4{
    text-decoration: none;
    color: green;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

#FIRST{
    display: flex;

}

#F1{
    display: flex;
}

#img{
    margin-right: 300px;
}

#IMG{
    margin-left: 300px;
}

#footer{
    display: flex;
    gap: 10%;
    margin-left: 400px;
}

#google{
    display: flex;
    width: 40px;
    height: 50px;

}




