#menu{
    padding: 50px 25px;
    text-align: center;
 
  
}

#nav-bar1 li{

    display: inline-block;
   justify-content: space-between; 
   padding: 50px;
    
}
#nav-bar1 a{
    text-decoration: none;
    color: black;
}
#nav-bar1{
    margin: o auto;
}

#content1{
    margin-left: 250px;
    display: flex;

}

#paragraphs{
    display: inline-block;
}

#icons{
  display: inline-block;
}